<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> All About Me </title>
</head>
<body>
<!-- this my level 1 heading for the website -->
    <h1>All About My Semester Abroad</h1>
        <!--this is my first paragraph on the website -->
        <p>Last semester I went with the Clarke In Madrid program to study finance and information systems in Madrid. I went by myself and learned so much and travelled a lot. I highly recommend that everyone tries to study abroad during college. <strong>It will be the time of your life!!</strong></p>

    <!--this will be a paragraph header with level 2. this will have an unorganized list of places i went and bold and emphasized fonts-->
    <H2>The Countries I Visited</H2>
        <ul>
           <li>Italy</li>
            <li>France</li>
            <li>Morocco</li>
            <li>Ireland</li>
            <li>The Netherlands</li>
        </ul>
<!--creating a paragraph that has a hyperlink that opens on a new browser to a new tab-->
<p>A lot of students used a Madrid Company travel service called <em>City life Madrid</em> to plan trips. Check it out: I used it to go on their <a href="https://www.citylifemadrid.com/event/south-morocco-5-may-08-2024/" target="_blank">South Morocco Trip </a></p>

<!-- this is a new section w header and a orgaized list detailing my rankings of fav cities. then a paragraph elabarating after -->
    <H2>My Top 5 Favorite Cities that I Visited:</H2>
        <p><strong> Disclaimer:</strong> <em>All of these cities are absolutely amazing and this list is only based off my experience there!</em></p>
        <ol>
            <li>Madrid</li>
            <li>Dublin</li>
            <li>Florence</li>
            <li>Delft</li>
            <li>Segovia</li>
        </ol>

<!--This will be the final section with a header in level 2 and a table of the classes i took while abroad. will also use the itallics here-->
    <H2>School in Spain</H2>
        <p>I took all business classes when I was in spain. The classes were challenging but I met some really amazing people and pushed myself out of my comfort zone. The school was a lot smaller than UMD. Here is a link to the school I went to: <a href="https://www.uc3m.es/Home">Universidad Carlos 3 De Madrid</a></p>
        <p><em>The Classes I Took In Spain:</em></p>
<!--Making a table w course and semester completed as the headers -->
        <table>
            <tr>
                <th>Course</th>
                <th>Semester Completed</th>
            </tr>
            <tr>
                <td>Digital Business:17630</td>
                <td>Fall 2023</td>
            </tr>
            <tr>
                <td> Financial Systems and Institutions:13180</td>
                <td>Fall 2023</td>
            </tr>
            <tr>
                <td>Bank Management:13777</td>
                <td><Fall 2023</td>
            </tr>
            <tr>
                <td>Strategic Management:17642</td>
                <td>Fall 2023</td>
            </tr>
        </table>

<!--this will be the last header where i add a heading and a paragraph and i add a link to my hello rout w a anchor and add the smith pic-->
    <H2>Where I am Now</H2>
        <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
        width="267" height="72" alt="Smith Logo">
        <p>I moved back to Maryland in December and have been finishing up my degree with the Business school at the University of Maryland. To get my degree in information systems I have to learn how to code with HTML for my capstone class! Feel free to :  <a href="/hello" target="_blank">look at the other website we created in class last week!</a></p>
</body>
</html>