{% extends 'base.html' %}
{% block contact_page %}

<div class = "container">
    <h1>Contact Form </h1>
    {% if form_submitted %}
    <div class="col-12">
        <h2> Thank you for completing the form! </h2>
    </div>
    <div class="col-md-6">
        <p> First Name: </p>
    </div>
    <div class="col-md-6">
        <p>{{ request.form.get('first_name') }} </p>
    </div>
    <div class="col-md-6">
        <p> Last Name: </p>
    </div>
    <div class="col-md-6">
        <p>{{ request.form.get('last_name') }} </p>
    </div>
    <div class="col-md-6">
        <p> Email: </p>
    </div>
    <div class="col-md-6">
        <p>{{ request.form.get('email') }} </p>
    </div>
    <div class="col-md-6">
        <p> phone number: </p>
    </div>
    <div class="col-md-6">
        <p>{{ request.form.get('phone-number') }} </p>
    </div>
    <p><a href="{{ url_for('contact') }}"> Complete form again</a></p>

    {% else %}
    <form class="row g-3" action="{{ url_for('contact') }}" method="post">
    <div class="col-md-12">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Robert">
    </div>
    <div class="col-md-6">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Smith">
    </div>
     <div class="col-md-6">
         <label for="email" class="form-label">Email</label>
         <input type="email" class="form-control" id="email" name="email" placeholder="robersmith@umd.edu">
     </div>
     <div class="col-md-12">
         <label for="phone-number" class="form-label">phone number</label>
         <input type="text" class="form-control" id="phone-number" name="phone-number" placeholder="+x xxx-xxx-xxxx">
     </div>
    <div class="col-12">
        <button type= "submit" class="btn btn-primary"> Submit Form</button>
    </div>

    </form>
{% endif %}
</div>
{% endblock %}


